<div class="row center">
    <div class="col col-sm-10 ml-auto mr-auto">
        <h2>Winnemac Park</h2>
    </div>
</div>
<div class="row">
    <div class="col col-sm-5 ml-auto">
        The home of the Winnemac Electrons resounds with the echoes of past greats. Listen
        closely and you can hear the wind whisper the names.... Weissenberger..... Versiglio,
        to name just a few.<br />
        <br />
        Winnemac Park is without a doubt, one of the most unique ballparks in the game today.
        From the rolling hills that make up the length of the 1st base line to the majestic
        cliff from which the pitcher's mound drops steeply to the ground below to the awe
        inspiring canyons that protrude from either side of home plate, Winnemac Park is
        a geological treasure trove of shape and sight. It has even been said that, on a
        clear day, you can see the top of the Sears Tower when standing on the ridge that
        runs along the edge of the infield.<br />
        <br />
        Electrons owner Steve Albini, has long pressed the city to grant the park landmark
        status to ensure that its features will never be altered. While at this point, his
        one man crusade has been unsuccessful, he has pledged to contribute all of his financial
        resources toward this noble cause.
    </div>
    <div class="col col-sm-5 mr-auto">
        <img src="/images/winnemacAerial.jpg" width="500" height="375"  />
    </div>
</div>