<% content_for :title, "Editing gameschedule" %>

<h1>Editing gameschedule</h1>

<%= render "form", gameschedule: @game %>

<br>

<div>
  <%= link_to "Show this gameschedule", @gameschedule %> |
  <%= link_to "Back to gameschedules", gameschedules_path %>
</div>
