<% content_for :title, "New gameschedule" %>

<h1>New gameschedule</h1>

<%= render "form", gameschedule: @gameschedule %>

<br>

<div>
  <%= link_to "Back to gameschedules", gameschedules_path %>
</div>
