<div id="depth_charts">
  <% if data %>
    <% data.each do |depth_chart| %>
      <h5><%= depth_chart.player&.short_name_last_first %></h5>    
    <% end %>
  <% end %>
  <p>
    <% if admin? %>
      <%= link_to "Edit #{data.first.position_name}", edit_position_depth_charts_path(position: position) %>
    <% end %>
    </p>
</div>